<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    <form action="/res" method="post">
        <label>文章一:</label>
        <!-- <input type="textbox" name="username"> -->
        <textarea name="article1" cols="30" rows="10"></textarea>
        <br/>
        <label>文章二:</label>
        <textarea name="article2" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>

</body>
</html>